<form action="/" method="POST" id="input_form">

{% set column_name = 'susceptible_count' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="100" min="100" max="10000000"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="100" min="100" max="10000000" placeholder="100 — 10000000"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'infected_count' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="1" max="100000"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="1" max="100000" placeholder="1 — 100000"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

<br><br>

{% set column_name = 'infection_period' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="1" max="30"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="1" max="30" placeholder="1 — 30"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'recovery_period' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="1" max="30"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="1" max="30" placeholder="1 — 30"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'mortality_rate' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="0.1" min="0" max="100" 
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="0.1" min="0" max="100" placeholder="0.0 — 100.0"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'immunity_period' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="1" max="365"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="1" max="365" placeholder="1 — 365"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'mask_rate' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="0" max="100" placeholder="0 — 100"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'social_distancing_rate' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="0" max="100" placeholder="0 — 100"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'vaccination_rate_per_1k' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="0" max="100" placeholder="0 — 100"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'mask_effectiveness' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="0.1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="0.1" min="0" max="100" placeholder="0.0 — 100.0"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'social_distancing_effectiveness' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="0.1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="0.1" min="0" max="100" placeholder="0.0 — 100.0"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'vaccine_efficacy' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="0.1" min="0" max="100"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="0.1" min="0" max="100" placeholder="0.0 — 100.0"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

{% set column_name = 'time' %}
<div class="row-input">
    <label for="{{ column_name }}"><p>{{ names[column_name][language] }}</p></label>
    <div class="flex-container">
        <input type="range"
            name="{{ column_name }}"
            step="1" min="1" max="365"
            value="{{ values[column_name] }}"
        >
        <input type="number" id="{{ column_name }}"
            step="1" min="1" max="365" placeholder="1 — 365"
            value="{{ values[column_name] }}"
        >
    </div>
</div>

<div class="button-container">
    <input type="submit" value="{{ names['submit_button'][language] }}">
</div>

</form>