<form action="/" method="POST">

<!-- automatically assigned inputs (int type) -->

{% for column_name in columns %}
<div class="row-input">
    {{ column_name }}<br>
    <input type="range"
        class="connect_following_input"
        step="1e-2" min="0" max="1"
        value="{{ values[column_name] }}"
        oninput="generateChart()"
    >
    <input type="number"
        name="{{ column_name }}"
        step="1e-10" min="0" max="1"
        value="{{ values[column_name] }}"
    >
</div>
{% endfor %}

<!-- manually assigned inputs -->

<div class="row-input">
    _time<br>
    <input type="range"
        class="connect_following_input"
        step="1" min="0" max="1000"
        value="{{ values['_time'] }}"
    >
    <input type="number"
        name="_time"
        step="1" min="0" max="1000"
        value="{{ values['_time'] }}"
    >
</div>

<input type="submit">

</form>