<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh-widgets.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh-tables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh-gl.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh-mathjax.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <link rel="stylesheet" href="../static/css/main_style.css">
    <title>{{ title }}</title>
</head>


<body>
    <header>
        <h1>A Mathematical Model of COVID-19 Pandemic</h1>
    </header>
    <main>
        <div class="left">
            {% include "form.html" %}

            {% for i in inputs %}
                <p>{{ i.mask_rate }}</p>
            {% endfor %}
        </div>

        <div class="right">
            {% include "chart.html" ignore missing %}
            <canvas id="chart_1" style="width:100%;max-width:700px"></canvas>
        </div>
    </main>
</body>
<script src="../static/javascript/main_script.js"></script>
<script src="../static/javascript/chart_script.js"></script>
</html>